* {
  /* color: white; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body > div:first-child {
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}
/* header animaton */

@keyframes header {
  from {
    top: 40%;
  }
  to {
    top: 5%;
  }
}

/* board */
#board {
  font-family: "Potta One", cursive;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: solid plum 5px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 34%;
  height: 40%;
  width: 40%;
  visibility: hidden;
  z-index: 1;
}
.tile {
  font-family: "Potta One", cursive;
  border: solid plum 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
/* restart button */
#restart-btn {
  visibility: hidden;
  position: relative;
  top: 36%;
  width: 10%;
}

/* status */
/* btn div */
#btn-div button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#btn-div button {
  width: 30%;
  text-align: start;
}
#btn-div button i:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 4.8rem;
}
/* currentturn */
#current-turn {
  font-size: 1.1rem;
  font-weight: bold;
}
/* winner banner */
#winner-popup {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 34;
  backdrop-filter: blur(3px);
}
#winner {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}
#winner span {
  display: block;
  font-weight: bolder;
  font-size: 6rem;
}
