body {
  color: white;
}
body > div:first-child {
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}
/* header animaton */

@keyframes header {
  from {
    top: 40%;
  }
  to {
    top: 5%;
  }
}

/* board */
#board {
  margin: 0 auto;
  position: relative;
  top: 33%;
  height: 40%;
  width: 40%;
  visibility: hidden;
  z-index: 1;
}
.col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile {
  height: 100%;
  width: 100%;
  border: solid royalblue 5px;
}
/* restart button */
#restart-btn {
  visibility: hidden;
  position: relative;
  top: 35%;
  width: 10%;
}

/* status */
/* btn div */
#btn-div button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#btn-div button {
  width: 30%;
  text-align: start;
}
#btn-div button i:first-child {
  width: 90%;
}
/* winner banner */
#winner-popup {
  position: relative;
  top: -1%;
  height: 20%;
  width: 100%;
  visibility: hidden;
  z-index: 34;
  background-color: rgba(0, 0, 0, 0.589);
}
#winner {
  font-size: 2rem;
}
